body {
    background: url(image/ankoay_studio_05.jpg);
    background-size: cover;
}
.jumbotron {
    background-color: white; 
}
#entete {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red; text-align: center; padding-top: 25px; text-transform:uppercase; font-size: xx-largeopen; font-weight: bold;
    letter-spacing: 1em; text-shadow: 1px 1px 0 green, 2px 2px 0 white, 5px 5px 0 green;
}
.btn_01 {
    color: green;
    background-color: white;
    border-radius: 10px;
    border: 4px double red;
    cursor:pointer;
    margin: 50px 200px;
}