body {
    background: url(image/ankoay_studio_05.jpg);
    background-size: cover;
}
h1 {
    color: greenyellow; text-align: center;
}
table {
    padding-left: 50px;
}
.btn-grp {
    border-bottom-style:ridge;
    color: greenyellow;
    padding-bottom: 5%;
    padding-right: 20%;
}
.btn-grp:hover {
    color:red;
    padding-bottom: 15%;
}
td {
    width: 10%;
}